/* src/components/HomePage.css */
.login-form {
    margin: 0 auto; /* Căn giữa ô nhập */
    width: 300px; /* Độ rộng ô nhập */
    display: flex; /* Sử dụng Flexbox */
    flex-direction: column; /* Xếp dọc các phần tử */
    align-items: center; /* Căn giữa theo chiều ngang */
  }
  
  .login-form input {
    width: 100%; /* Chiều rộng 100% */
    padding: 10px;
    margin-bottom: 10px; /* Khoảng cách giữa các ô nhập */
    border: 1px solid #ccc; /* Đường viền cho ô nhập */
    border-radius: 5px; /* Bo góc cho ô nhập */
  }
  
  .login-form button {
    width: 108%; /* Chiều rộng 100% */
    padding: 10px;
    background-color: #1877f2; /* Màu nền nút */
    color: white; /* Màu chữ */
    border: none; /* Không có đường viền */
    border-radius: 5px; /* Bo góc cho nút */
    cursor: pointer; /* Con trỏ khi hover */
  }
  
  .login-button:hover {
    background-color: #155db4; /* Màu nền khi hover */
  }
  /* Hiển thị thông báo lỗi */
.error-message {
  color: red;
  margin-bottom: 10px;
}

/* Làm mờ nút khi đang đăng nhập */
.login-button:disabled {
  background-color: #a3c4f2; /* Màu nền mờ hơn */
  cursor: not-allowed; /* Con trỏ khi nút bị vô hiệu hóa */
}
