.modal-dialog {
    max-width: 80%;
    margin: auto;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.video-container .icon-wrapper {
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%); /* Căn giữa theo trục ngang */
    display: flex;
    gap: 20px; /* Khoảng cách giữa các icon */
}

.video-container .icon-wrapper .icon {
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%; /* Làm tròn */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Màu icon */
}

.remote-video {
    height: 500px;
    width: 1000px;
}

.local-video {
    position: absolute; 
    bottom: -21px; 
    right: -1px; 
    width: 30%; 
    border: 1px solid white; 
    z-index: 1; 
    height: 150px;
    width: 200px;
}


.no-remote-video {
    background-color: black; /* Khung đen khi không có video */
    height: 500px; /* Same height as normal video */
    width: 100%;  /* Same width as normal video */
}

.hidden {
    display: none;
}


